<div>
    <h2>
        <span jhiTranslate="localmarketplaceApp.serviceRequest.home.title">Service Requests</span>
        <button class="btn btn-primary float-right jh-create-entity create-service-request-lmp" [routerLink]="['/', { outlets: { popup: ['service-request-lmp-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="localmarketplaceApp.serviceRequest.home.createLabel">
            Create new Service Request
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="serviceRequests">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="requirementDescription"><span jhiTranslate="localmarketplaceApp.serviceRequest.requirementDescription">Requirement Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="serviceRequiredOn"><span jhiTranslate="localmarketplaceApp.serviceRequest.serviceRequiredOn">Service Required On</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="expectedStartTime"><span jhiTranslate="localmarketplaceApp.serviceRequest.expectedStartTime">Expected Start Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tentativeEffortsRequiredInHours"><span jhiTranslate="localmarketplaceApp.serviceRequest.tentativeEffortsRequiredInHours">Tentative Efforts Required In Hours</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userId"><span jhiTranslate="localmarketplaceApp.serviceRequest.customer">Customer</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let serviceRequest of serviceRequests ;trackBy: trackId">
                <td><a [routerLink]="['../service-request-lmp', serviceRequest.id ]">{{serviceRequest.id}}</a></td>
                <td>{{serviceRequest.requirementDescription}}</td>
                <td>{{serviceRequest.serviceRequiredOn | date:'medium'}}</td>
                <td>{{serviceRequest.expectedStartTime | date:'medium'}}</td>
                <td>{{serviceRequest.tentativeEffortsRequiredInHours}}</td>
                <td>
                    <div *ngIf="serviceRequest.userId">
                        <a [routerLink]="['../customer-lmp', serviceRequest.userId  ]" >{{serviceRequest.userId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../service-request-lmp', serviceRequest.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'service-request-lmp/'+ serviceRequest.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'service-request-lmp/'+ serviceRequest.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="serviceRequests && serviceRequests.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
