<div>
    <h2>
        <span jhiTranslate="localmarketplaceApp.address.home.title">Addresses</span>
        <button class="btn btn-primary float-right jh-create-entity create-address-lmp" [routerLink]="['/', { outlets: { popup: ['address-lmp-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="localmarketplaceApp.address.home.createLabel">
            Create new Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="addresses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="streetAddress"><span jhiTranslate="localmarketplaceApp.address.streetAddress">Street Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="city"><span jhiTranslate="localmarketplaceApp.address.city">City</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="state"><span jhiTranslate="localmarketplaceApp.address.state">State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="country"><span jhiTranslate="localmarketplaceApp.address.country">Country</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="zip"><span jhiTranslate="localmarketplaceApp.address.zip">Zip</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="customerId"><span jhiTranslate="localmarketplaceApp.address.customer">Customer</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let address of addresses ;trackBy: trackId">
                <td><a [routerLink]="['../address-lmp', address.id ]">{{address.id}}</a></td>
                <td>{{address.streetAddress}}</td>
                <td>{{address.city}}</td>
                <td>{{address.state}}</td>
                <td>{{address.country}}</td>
                <td>{{address.zip}}</td>
                <td>
                    <div *ngIf="address.customerId">
                        <a [routerLink]="['../customer-lmp', address.customerId  ]" >{{address.customerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../address-lmp', address.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address-lmp/'+ address.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address-lmp/'+ address.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="addresses && addresses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
